main {
  position: relative;
  overflow: hidden;
  width: 100%;
  align-items: center;
}

.container-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 1156px;
  color: white;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 15px;
}

.container {
  max-width: 1156px;
  margin: 0 auto;
  position: relative;
}

.container-header {
  max-width: 448px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  list-style: none;
  flex: 0.3;
  color: white;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

body {
  background-color: #191765;
  color: white;
  font-family: Roboto, Arial, sans-serif;
}

.name {
  font-family: Roboto, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 105.47px;
  letter-spacing: 0;
  text-align: center;
  color: #9390ff;
  size: 10px;
}

.dev-tag {
  font-family: Roboto, Arial, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0;
  text-align: center;
}

.first-paragraph {
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400, regular;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  padding: 10px 15px;
  color: #b3bac5;
}

.first-paragraph {
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.first-line {
  width: 448px;
  border: 1px solid #646369;
}

.second-line {
  border: 1px solid #646369;
}

.divider-full {
  height: 1px;
  width: 100%;
  margin: 10px auto;
  background: #646369;
}

.logo-title {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0;
  text-align: center;
  color: white;
  padding-top: 20px;
  text-decoration: none;
}

.content {
  margin: 0 auto;
}

/**
** TECHNOLOGIES
*/
.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1156px;
}

.technologies-item {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  align-items: center;
}

.technologies-title {
  color: #9390ff;
}

.technologies-item ul {
  list-style: none;
  margin-top: 10px;
  color: #b3bac5;
}

.social-links ul {
  list-style: none;
  flex-direction: row;
  display: flex;
}

.skillset li {
  display: block;
  flex: 0 2 auto; /* Default */
  list-style-type: none;
  width: 25%;
  text-align: center;
  border-right: 1px solid #555;
}

.technologies-item ul li {
  margin-top: 5px;
}

.page-break {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-right: 6%;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.social-links a {
  margin: 0 10px;
  color: white;
}

.first-img {
  height: 184px;
  width: 400px;
  left: 69px;
  top: 100px;
  position: absolute;
}

.second-img {
  height: 180px;
  width: 180px;
  top: 350px;
  position: absolute;
  right: 90px;
}

.hamburger-btn {
  display: none;
}

h3 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700, bold;
  font-size: 30px;
  vertical-align: center;
  color: #9390ff;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  row-gap: 3rem;
}

.work-item {
  position: relative;
}

.work-item-content {
  display: flex;
  justify-content: space-between;
  max-width: 1156px;
  margin: 0 auto;
}

.work-item-reverse {
  flex-direction: row-reverse;
}

.work-content {
  flex: 0.4;
}

.work-img {
  flex: 0.5;
  width: 100%;
  height: 400px;
  border-radius: 0;
}

.work-item-title {
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.work-item-actions {
  margin-top: 2rem;
}

.vertical-divider {
  width: 2px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.ellipse-one {
  z-index: -10;
  margin-left: -16px;
  position: absolute;
}

.ellipse-two {
  margin-right: -16px;
  position: absolute;
  right: 0;
  z-index: -10;
}

.ellipse-three {
  position: absolute;
  left: 0;
  bottom: -20px;
  margin-left: -16px;
  z-index: -10;
}

.ellipse-four {
  position: absolute;
  right: 0;
  top: -180px;
  margin-right: -16px;
  z-index: -10;
}

.skills {
  display: flex;
}

.button {
  height: 40px;
  width: 140px;
  margin-top: auto;
  border: none;
  color: white;
  transition: all 0.5s;
}

.button-primary {
  background: #7d73fc;
}

.button:hover {
  box-shadow: 0 8px 16px 0 black;
}

.button:active {
  background: #5e42d7;
}

.button:disabled {
  background: #2a2b33;
}

.contact {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
}

.contact-title {
  color: #9390ff;
}

.contact-title.mobile {
  display: none;
}

.contact-desription {
  text-align: center;
  padding: 10px 15px;
  line-height: 24px;
  line-height: 124%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  width: 100%;
}

.project-section {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  color: #b3bac5;
}

.skillset {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.skillset li:last-of-type {
  border-right: none;
}

h5 {
  color: #9390ff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 44px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 2px;
}

.about-me {
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}

#names {
  display: grid; /* 2. display flex to the rescue */
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  width: 100%;
}

#fullname {
  display: none;
}

.send-button {
  height: 40px;
  width: 105px;
  margin-top: 40px;
  border: none;
  background: #9390ff;
  color: white;
  align-self: center;
}

.send-button:hover {
  height: 40px;
  width: 105px;
  margin-top: auto;
  border: none;
  background: black;
  color: white;
}

.second-footer ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  column-gap: 1rem;
  color: white;
}

.second-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 5px;
  align-items: center;
}

.second-footer a {
  color: white;
  font-size: 25px;
  margin-left: 20px;
  align-self: auto;
}

.contact-title.desktop {
  display: block;
  font-size: 40px;
}

h6 {
  font-weight: 300;
  font-size: 24px;
  margin-top: 20px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0;
}

.modal {
  z-index: 3;
  display: none;
  padding-top: 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: black;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

input {
  overflow: visible;
  height: 50px;
}

.modal-content {
  margin: auto;
  background-color: #9390ff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 800px;
}

.modal-container {
  max-height: 80vh;
  overflow-y: scroll;
  padding: 20px 20px;
}

@media only screen and (max-width: 770px) {
  main {
    padding: 10px;
  }

  .nav-bar {
    display: none;
  }

  .hamburger-btn {
    color: white;
    display: block;
    font-size: 2em;
  }

  .content {
    background: url("/circle_header.svg") no-repeat;
    background-position: 150% 10%;
    background-size: 200px;
  }

  .technologies {
    justify-content: flex-start;
  }

  .page-break {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }

  .page-break > :first-child {
    display: none;
  }

  .first-line {
    width: 80%;
    margin: 2% auto;
  }

  .first-img {
    left: 0;
    top: 275px;
    margin-left: -200px;
  }

  .shadow-img {
    height: 482.56502282287016px;
    left: -110.0361328125px;
    top: 1624.7070922851562px;
    border-radius: 0;
    position: absolute;
  }

  .work-item-content {
    flex-direction: column;
    flex: 1;
    padding: 0 1rem;
  }

  .ellipse-three {
    opacity: 0.3;
  }

  .work-content {
    flex: 1;
  }

  .contact {
    width: 100%;
  }

  .contact-title.mobile {
    display: block;
  }

  #names {
    flex-direction: column;
    display: none;
  }

  #fullname {
    display: block;
  }

  .second-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .email-tag {
    justify-content: center;
    color: white;
    align-self: center;
  }

  .email-tag a {
    color: white;
  }
}
